.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formControl label{
    margin-bottom: 0.6em;
    font-weight: bold;
}

.formControl input{
    padding: 0.7em;
    border-radius: 0;
    border: none solid #17204b75;
    
}

.formControl input::placeholder{
    color: #17204b75;
}