.message{
    width: 100%;
    padding: 1em;
    border: 2px solid #17204b75;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 6px;
}

.success{
    color:  rgb(82, 110, 72);
    background-color: #9EDF9C;
    border-color: rgb(82, 110, 72);
}

.error{
    color: darkred;
    background-color: rgba(161, 34, 34, 0.603);
    border-color: rgba(163, 54, 54, 0.767); 
}